<!DOCTYPE html>
<html>
	<head>
		<title>App Management - Edit App: node-multipass</title>
		<link rel="stylesheet" href="css/main.css" />
		<script src="https://s.aolcdn.com/os/aol/jquery-1.8.1.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<h1>App Management - Edit App</h1>
		
		<h2>Summary</h2>
		<div>
			<p>UserId: <%= app.userId || '' %><p>
			
			<p>AppId: <%= app.appId || '' %></p>
			
			<p>AppSecret: <%= app.secret || '' %></p>
		</div>
		
		<h2>App Form</h2>
		<form submit="return false;">
			<input type="hidden" id="app-appId" name="appId" value="<%= app.appId || '' %>" />
			<input type="hidden" id="app-userId" name="userId" value="<%= app.userId || '' %>" />
			
			<p><label>Name</label><input type="text" size="40" id="app-name" name="name" value="<%= app.name || '' %>" /></p>
			<p><label>Description</label><input type="text" size="40" id="app-description" name="description" value="<%= app.description || '' %>" /></p>
			<p><label>Hosts</label><input type="text" size="40" id="app-hosts" name="hosts" value="<%= app.hosts || '' %>" /></p>
			
			<input type="button" id="app-submit" value="Submit" />
			<% if (app.appId){ %>
			<input type="button" id="app-delete" value="Delete" />
			<input type="button" id="app-refresh" value="Refresh Secret" />
			<% } %>
		</form>
		
		<p><a href="/app">Apps Home</a></p>
		
	</body>
</html>